<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Marvel Realms</title>
	<style type="text/css">
		body {
		  background-color: #401515;
		  color: white;
		  font-family: arial;
		  background-image: url("https://i.imgur.com/V3mfvJy.png");
		  background-repeat: repeat;
		}
		table, th, td {
		  border: 1px solid #af0000;
		  border-radius: 5px;
		  padding: 2px;
		  vertical-align: center;
		}
		table {
		  width: 50%;
		  margin: auto;
		  border-collapse: separate;
		  border-spacing: 2;
		  border: 2px solid #d6b200 !important;
		}
		th {
		  text-align: center;
		  border: 2px solid #d6b200 !important;
		}
		td {
		  text-align: left;
		}
		tr:nth-child(even) {
		  background-color: rgba(255, 0, 0, 0.1);
		}
		tr:nth-child(odd) {
		  background-color: rgba(0, 0, 0, 0.2);
		}
		input, select, button {
		  border-radius: 5px;
		  padding: 3px;
		  margin: 5px;
		  color: white;
		  background-color: #000000;
		  border: 2px solid #af0000;
		}
		.area {
		  border-radius: 5px;
		  padding: 2px;
		  margin: 5px;
		  color: white;
		  background-color: rgba(0, 0, 0, 0.1);
		  border: 2px solid #af0000;
		}
		a:link {
		  color: white;
		  text-decoration: none;
		  font-weight: bold;
		}
		a:visited {
		  color: white;
		  text-decoration: none;
		}
		a:hover {
		  color: red;
		  text-decoration: none;
		}
		a:active {
		  color: yellow;
		  text-decoration: none;
		}
	</style>
	</head>

	<body>

		<h3>Add new realm:</h3>
		<form id="addrealm" action="/realms" method="post" class="area">
			Name: <input type="text" name="name"><br>
			<input type="submit" value="Submit">
		</form><br />

		<h2>Current realm list:</h2>
		<table>
			<thead>
				<th>Name</th>
				<th>Number of planets</th>
			</thead>
			<tbody>
				{{#each realm}}
				<tr>
					<td>{{name}}</td>
					<td>{{planet_count}}</td>
					<td><button onclick="deleteRealm({{id}})">Delete</button></td>
					<td><a href="/realms/{{id}}">Update</a></td>
				</tr>
				{{/each}}
			</tbody>
		</table>
		</form>
		
	</body>
</html>