<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Marvel Realms</title>
	</head>

	<body>

		<h3>Add new realm:</h3>
		<form id="addrealm" action="/realms" method="post">
			Name: <input type="text" name="name"><br>
			<input type="submit" value="Submit">
		</form><br />

		<h2>Current realm list:</h2>
		<table>
			<thead>
				<th>Name</th>
				<th>Number of planets</th>
			</thead>
			<tbody>
				{{#each realm}}
				<tr>
					<td>{{name}}</td>
					<td>{{planet_count}}</td>
					<td><button onclick="deleteRealm({{id}})">Delete</button></td>
					<td><a href="/realms/{{id}}">Update</a></td>
				</tr>
				{{/each}}
			</tbody>
		</table>
		</form>
		
	</body>
</html>