<html>
<style type="text/css">
    body {
      background-color: #401515;
      color: white;
      font-family: arial;
      background-image: url("https://i.imgur.com/V3mfvJy.png");
      background-repeat: repeat;
    }
    input, select, button {
      border-radius: 5px;
      padding: 3px;
      margin: 5px;
      color: white;
      background-color: #000000;
      border: 2px solid #af0000;
    }
    .area {
      border-radius: 5px;
      padding: 2px;
      margin: 5px;
      color: white;
      background-color: rgba(0, 0, 0, 0.1);
      border: 2px solid #af0000;
    }
    a:link {
      color: white;
      text-decoration: none;
      font-weight: bold;
    }
    a:visited {
      color: white;
      text-decoration: none;
    }
    a:hover {
      color: red;
      text-decoration: none;
    }
    a:active {
      color: yellow;
      text-decoration: none;
    }
</style>

<h1>Update {{selectRealm.name}}:</h1>
<form id="update-realm" action="/realms" method="post">
    Name: <input type="text" name="name" value="{{selectRealm.name}}"><br>
</form>
<button onclick="updateRealm({{selectRealm.id}})">Update</button>
</html>
